:root {
    --primary-color: #fed001; /*Define variável globais css que podem ser usadas no documento*/
}

* {
    margin: 0;
}

html {
    font: 400 62.5% 'inter', sans-serif;
    scroll-behavior: smooth; /* SUAVISA A ROLAGEM NA PÁGINA */
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
  body::-webkit-scrollbar-track {
    background: rgb(156, 156, 156);        /* color of the tracking area */
}
  
  body::-webkit-scrollbar-thumb {
    background-color: #ccc;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}

p, 
a {
    font-size: 1.6rem;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

nav a {
    color: inherit; /*Eles herdam a cor do texto do elemento pai.*/
}

.upper {
    text-transform: uppercase;
}

.btn {
    background-color: var(--primary-color);
    border-radius: 4px;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 1.6rem 4.6rem;
    display: inline-block;
    color: #3d3d3d;
}

.wrapperContainer {
    padding-top: 1px;
}

.wrapperContainer-dark {
    background-color: #2a2a2a;
    color: #fafafa;
}

.wrapperContainer-light {
    background-color: #fafafa;
}

.wrapperContainer-dark2 {
    background-color: #003464;
}

.wrapperContainer-fixed {
    position: sticky; /* Fixa a propriedade na tela quando rolar */
    width: 100%;
    top: 0;
    left: 0;
}

.wrapperContainer-padded {
    padding-top: 12rem;
}

.container {
    max-width: 127.6rem;
    margin: auto;
}

.section_title {
    padding: 7rem 0;
    text-align: center;
}

.section_btn {
    margin: 7rem 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    padding: 2rem 0;
}

.header_nav a {
    padding: 10px 5px;
    border: solid 1px;
    text-decoration: none;
}

.header_nav a:hover {
    background-color: rgb(184, 171, 119);
}

.header_nav ul {
    display: flex;
    gap: 1.5rem;
    list-style-type: none;
}

.wrapperContainer-hero {
    background-image: linear-gradient(transparent, rgb(255, 255, 86));
}

.heroBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
}

.heroContainer {
    text-align: center;
}

.cursos{
    text-align: center;
}

.cursosContainer {
    display: flex;
    text-align: left;
    gap: 2rem;
}

.curso_card {
    flex: 1;
}

.curso_card img {
    display: block;
    width: 100%;
}

.curso_card h3 {
    font-size: 2.4rem;
}

.curso_card p {
    font-size: 1.8rem;
    line-height: 1.5;
}

.curso_card_content {
    padding: 1rem 1.25rem;
    border: 1px solid #ccc;
    border-radius: 0 0 8px 8px;
    border-top: transparent;
}

.escola {
    display: flex;
    gap: 7rem;
    padding-top: 6rem;
}

.escola_title {
    font-size: 3.2rem;
    margin-top: 2rem;
    color: #fafafa;
}

.escola p {
    font-size: 1.8rem;
    line-height: 1.5;
    color: #fafafa;
}

iframe {
    width: 100%;
}

.contatos_adress {
    text-align: right;
    font: normal 400 1.8rem 'inter', sans-serif;
    padding: 3rem 0;
}

.footer {
    font-size: 1.6rem;
    text-align: center;
    padding: 4.5rem;
}

.footer a {
    color: inherit;
}
