* {
    margin: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 1rem;
    background-color: #2a74b6;
    color: #ffffff;
}

nav ul li {
    list-style: none;
}

nav ul{
    display: flex;
    justify-content: center;
    padding: 23px 5px 15px;
    background-color: #4a8ac2;
}

nav li {
    padding-left: 15px;
}
