* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif; 
}

.navbar {
    background-color: #030303;
    color: #ccc;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 40px;
}

.navbar h3 {
    font-size: 25px;
    text-transform: uppercase;
    margin: 0 auto 0;
}

.navbar .menu-list ul li {
    display: inline-block;  
    list-style: none;   
    margin-left: 20px;
}

.navbar .menu-list .menu a {
    color: #ccc;
    text-decoration: none;
    padding-right: 15px;
}

.navbar .menu-list .menu a:hover {
    background-color: #948011;
    padding: 20px;
    border-radius: 5px;
}

main {
    width: 80%;
    margin: auto;
    max-width: 950px;
}


