@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body {
    background-image: url(../img/bg2.jpg);
    background-size: cover; /* Garante que a imagem cubra todo o corpo */
    background-attachment: fixed;
    background-position: left;
}

.hero {
    background-image: url(../img/bg1.jpg);
    height: 500px;
    background-size: cover;
    background-position: right center;
    padding-top: 1px;
}

.hero-content {
    margin: 80px auto 0;
    width: 80%;
    text-align: center;
    color: #dddddd;
}

.hero-content h1 {
    font-size: 56px;
    text-shadow: 2px 2px 2px #000000;
    text-transform: uppercase;
    margin-bottom: 0;
}

.hero-content p {
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    display: inline-block;
    padding: 15px;
    border-bottom: 2px solid;
}

.hero nav ul {
    margin: 20px 80px 0 0;
    text-align: right;
}

.hero nav li {
    display: inline-block;  
    list-style: none;
    border: 5px solid #154d7e;
    margin-left: 20px;
}

.hero nav a {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform:capitalize;
    font-size: 12px;
    letter-spacing: 2px;
}

.hero nav a:hover{
    background-color: #154d7e;
}

main {
    width: 80%;
    margin: auto;
    max-width: 950px;
}

article{
    background-color: #e4e2e2;
    padding: 1rem;
    margin-bottom: 12px;
    margin-top: 32px;
}

article h2 {
    border-bottom: 2px solid #000;
    background-color: #eee;
    padding: 10px;
    margin-top: 0;
}

article p {
    border: 2px solid #ccc;
    padding: 15px;
    text-align: justify;
}

article img {
    max-width: 100%;
    display: block;
    margin: 1rem auto 20px;
}